/* 상단영역 */
.header {
  max-width: 1170px;
  height: 67px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
.header .layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-logo-link {
  width: 88px;
  height: 22px;
}
.header-logo-link img {
  width: 100%;
  height: 100%;
}

.header-logo-motion {
  width: 68px;
  height: 31px;
}
.header-logo-motion img {
  width: 100%;
  height: 100%;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navigation a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 700;
}
.navigation button {
  border: none;
  background-color: #fff;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.navigation button img {
  width: 100%;
  height: 100%;
}
