.main-slide {
  display: flex;
  /* 20 나누기 1180 곱하기 100 = 1.695 */
  gap: 1.695vw;
}
.main-slide .left {
  /* 770 나누기 1180 곱하기 100 = 65.254 */
  width: 65.254%;
  max-width: 770px;
  /* 470 나누기 1180 곱하기 100 = 39.83 */
  height: 39.83vw;
  max-height: 470px;
}
.visual-slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.visual-slide a {
  width: 100%;
  height: 100%;
}
.visual-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-slide .right {
  /* 370 나누기 1180 곱하기 100 = 31.35 */
  width: 31.355%;
  max-width: 370px;
  /* 470 나누기 1180 곱하기 100 = 39.83 */
  height: 39.83vw;
  max-height: 470px;
}
.card-slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.card-slide a {
  width: 100%;
  height: 100%;
}
.card-slide a img {
  width: 100%;
  height: 100%;
}

/* 가로 너비 대비 세로가 평상시에도 변한다. */
/* 상단 영역 */
@media screen and (max-width: 1024px) {
  .main-slide {
    display: block;
    gap: 0;
    width: 100%;
  }
  .main-slide .left {
    width: 100%;
    max-width: 100%;
    height: 980px;
    max-height: 980px;
  }

  .main-slide .right {
    display: none;
  }
}
