.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.main-content .left {
  /* 840 나누기 1180 *100 곱하기=vw */
  width: 71.186vw;
  max-width: 840px;
}
.list-new-wrap {
}
.list-title {
  margin-bottom: 30px;
  font-size: 24px;
  color: #1e1e1e;
}
.list-thum-wrap {
  margin-bottom: 45px;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.thum {
  max-width: 260px;
  text-decoration: none;
}
.thum:hover .thum-img {
  /* 좌표움직이기 */
  transform: translateY(-10px);
  filter: drop-shadow(0px 20px 40px #bdc4d3);
}
.thum-img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 25px;
  transition: all 0.5s;
}
.thum-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thum-cate {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
}
.thum-cate img {
  width: 24px;
  height: 24px;
}
.thum-cate span {
  color: rgb(231, 0, 167);
  font-size: 14px;
  font-weight: 500;
}
.thum-title {
  font-size: 20px;
  color: #2a364f;
  font-weight: 700;
  margin-bottom: 30px;
}
.thum-date {
  color: rgb(204, 204, 204);
  font-size: 14px;
}
.list-bt-wrap {
  display: flex;
  justify-content: center;
}
.bt {
  padding: 11px 20px;
  border: 1px solid #1e1e1e;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.5s;
}
.bt:hover {
  background-color: #1e1e1e;
  color: #fff;
}

.banner {
  max-width: 840px;
  /* 160/1180*100 */
  height: 13.559vw;
  max-height: 160px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 5.084vw;
}
.banner a {
  width: 100%;
  height: 100%;
}
.banner a img {
  width: 100%;
  height: 100%;

  /* object-fit: contain; */
  object-fit: cover;
}
.list-cate-wrap {
}

@media screen and (max-width: 1120px) {
  .thum {
    max-width: 255px;
  }
}
@media screen and (max-width: 1090px) {
  .thum {
    max-width: 250px;
  }
}
@media screen and (max-width: 1060px) {
  .thum {
    max-width: 245px;
  }
}
@media screen and (max-width: 1040px) {
  .thum {
    max-width: 240px;
  }
}

@media screen and (max-width: 1024px) {
  .main-content .left {
    width: 100%;
    max-width: 100%;
  }
  .list {
    display: block;
  }
  .thum {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 60px;
  }
  .thum-img {
    height: 740px;
  }
  .banner {
    width: 100%;
  }
}
